{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{# Page-specific CSS or JS ONLY if required #}
{% endblock %}

{% block content %}

<!-- hero section -->
<section
  id="hero-section"
  class="hero-overlay d-flex align-items-center text-light position-relative"
  style="min-height: 60vh; position: relative;"
>
  <img 
    src="{{ home.hero_image.url }}" 
    alt="{{ home.hero_image_alt_text }}"
    class="w-100 h-100 position-absolute top-0 start-0" 
    style="object-fit: cover; z-index: 1;"
  >

  <div class="container position-relative" style="z-index: 2;">
    <div class="row">
      <div class="col-lg-12 text-center">

        <h1 class="fw-bold display-3 mb-4">
          Terms and Conditions
        </h1>

      </div>
    </div>
  </div>
</section>

<!-- terms and conditions details -->
<section class="blog-details bg-light text-primary">
    <div class="container p-5 rounded-top-5 bg-light text-primary">

        <div class="row justify-content-center">
            <div class="col-12">

                <div class="service-list w-100 px-3 px-md-5">

                    <div class="d-flex justify-content-end mb-4">
                        {% if terms_and_conditions.pdf %}
                            <a
                                href="{{ terms_and_conditions.pdf.url }}"
                                class="btn btn-primary"
                                download
                            >
                                Download T&Cs as PDF
                            </a>
                        {% endif %}
                    </div>

                    <div class="fs-5">
                        {{ terms_and_conditions.content|safe }}
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>

{% endblock %}
